<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Over</title>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>

</head>
<body>

<div class="container">
    <h1>Game Over</h1>
    <div id="winner">Waiting for result...</div>
    <button onclick="Menu()">Main Menu</button>
</div>

<script>
    const socket = io("http://127.0.0.1:5000",{
            withCredentials: true
        });

    const params = new URLSearchParams(window.location.search);
    let winner = params.get("winner");
    console.log(winner);
    document.getElementById("winner").textContent =
            `${winner} wins!`;



    function Menu() {
        window.location.href = "/menu";
    }
</script>

</body>
</html>
