<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Over</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/game_over.css') }}">
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="trophy">🏆</div>
        <h1>Game Over</h1>
        <div id="winner">Waiting for result...</div>
        <button onclick="Menu()">Main Menu</button>
    </div>

    <script>
        const socket = io({
            withCredentials: true
        });

        const params = new URLSearchParams(window.location.search);
        let winner = params.get("winner");
        console.log(winner);
        document.getElementById("winner").textContent = `${winner} wins!`;

        function Menu() {
            window.location.href = "/menu";
        }
    </script>
</body>
</html>