<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.60.0/dist/phaser.js"></script>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
</head>
<body>
    <script src="{{ url_for('static', filename='game.js') }}"></script>
    <script>
        const socket = io("http://127.0.0.1:5000",{
            withCredentials: true
        });

        socket.on("gameOver", (data) => {
            console.log("Game over!");
            window.location.href = `/game_over?winner=${data.winner}&reason=${data.reason}`;
        });
    </script>
</body>
</html>