<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/menu.css') }}">
</head>
<body>
    <div class="container">
        <h1>Main Menu</h1>
        <p class="username">Welcome, <strong>{{username}}</strong></p>
        <nav>
            <a href="/play">Play</a>
            <a href="/profile">Profile</a>
            <a href="/leaderboard">Leaderboard</a>
            <a href="/logout">Logout</a>
        </nav>
    </div>
</body>
</html>